
body{
    background-color:rgb(240, 84, 37);
    }

#main{
    background-color: rgba(8, 21, 133, 0.863);
    width: 300px;
    height: 540px ;
    margin: 0 auto 0 auto;
    border-radius:  50px;
}

.input::placeholder{
    color:white;
}

.input:focus{
    outline: none;
}

#calculator{
font-size: 40px;
padding-top: 20px;
margin-top: 0;
text-align: center;
color: white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.input{
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 30px;
    text-align: right;
    /* float:right; */
    font-size: 20px;
}


#Result{
font-size: 60px;
float:right;
margin-right: 40px;
/* text-align: right; */
color: white;
}


.talha{
    height: 60px;
    width: 60px;
    border-radius: 80px;
    font-size: 30px;
    color: white;
    background-color:rgb(240, 84, 37);
}

#Talha{
background-color: white;
color:rgb(0, 0, 0);
font-size: 30px;
font-weight: 500;
}

.button1{
    background-color:transparent;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 80px;
    font-size: 25px;
    border: none;
}

.button1:focus {
    outline: none;
background-color:rgb(240, 84, 37);
color: white ;
}

#button2{
width: 100px;
height: 40px;
border-radius: 12px;
margin-left: 10px ;
margin-top: 10px;
font-size: 25px;
}

#last{
display: flex;
position: relative;
left: 140px;
top: -30px;
text-align: right;
color: white;
font-size: 22px;
}

#button2:focus {
    outline: none;
}

#Talha:focus{
    outline: none;
}

.talha:focus{
    outline: none;
}

#button{
margin-top: 50px;
margin-left: 20px;
}
